<div class="row">
  <div id="search-nav" class="collapse navbar-collapse sp-only">
    <%= search_form_for @search, url:player_path do |f| %>
      <div class="search-block">
        <div class="search-box">
          <div class="search-form">
            <div class="form-group">
              <%= f.text_field :name_or_place_birth_or_alma_mater_or_league_school_or_team_or_hiragana_name_or_katakana_name_or_sport_name_cont, placeholder: 'キーワードを入力（選手検索）', class: 'form-control' %>
            </div><!-- /.form-group -->
          </div><!-- /.search-form -->

          <div class="submit-form">
            <div><%= f.submit '検索', class: 'search-btn' %><i class="glyphicon glyphicon-search"></i></div>
          </div><!-- /.submit-form -->
        </div><!-- /.search-box -->

        <div class="select-box">
          <div class="select-form">
            <%= f.collection_select :sport_id_eq_any, @sports, :id, :name, :prompt => "競技", :include_blank => 'すべて' %>
          </div><!-- /.select-form -->
        </div><!-- /.select-box -->

        <div class="submit-btn">
          <div><%= f.submit '検索', class: 'search-btn' %></div>
        </div>
      </div><!-- /.search-block -->
    <% end %>
  </div><!-- /.search-nav -->

  <div id="side" class="col-sm-3 col-sm-push-9 pc-only">
    <%= search_form_for @search, url:player_path do |f| %>
      <div class="search-box">
        <div class="search-form">
          <div class="form-group">
            <%= f.text_field :name_or_place_birth_or_alma_mater_or_league_school_or_team_or_hiragana_name_or_katakana_name_or_sport_name_cont, placeholder: 'キーワードを入力（選手検索）', class: 'form-control' %>
          </div><!-- /.form-group -->
        </div><!-- /.search-form -->

        <div class="submit-form">
          <div><%= f.submit '検索', class: 'search-btn' %><i class="glyphicon glyphicon-search"></i></div>
        </div><!-- /.submit-form -->
      </div><!-- /.search-box -->

      <div class="select-box">
        <div class="select-form">
          <%= f.collection_select :sport_id_eq_any, @sports, :id, :name, :prompt => "競技", :include_blank => 'すべて' %>
        </div><!-- /.select-form -->
      </div><!-- /.select-box -->

      <div class="submit-btn">
        <div><%= f.submit '検索', class: 'search-btn' %></div>
      </div>
    <% end %>

    <!--
    <div class="pop-movie-box">
      人気動画箇所
    </div>

    <div class="pop-news-box">
      人気記事箇所
    </div>
    -->
  </div><!-- /#side -->

  <div id="main" class="col-sm-9 col-sm-pull-3">
    <div class="movie-box recent-movie-box">
      <p class="head-title">新着動画<span class="en-title new-movie-title">RECENT MOVIE</span></p><!-- /.head-title -->

      <div class="movie-player">
        <div class="html"><%= @movie.movie_html.html_safe %></div>
        <div class="detail">
          <div class="title"><%= @movie.title %></div>
          <div class="name">
            <%= link_to("/player/#{@movie.player_id}") do %>
              <%= @movie.player.name %>
            <% end %>
          </div><!-- /.name -->
        </div><!-- /.detail -->
      </div><!-- /.movie-player -->

      <div class="movie-list">
        <ul class="multiple-item">
          <% @movies.each do |movie| %>
            <li class="slide">
              <%= link_to("#{movie.id}", {method: "post", remote: true, id: "movie#{movie.id}"}) do %>
                <figure class="thum">
                  <img src="<%= movie.movie_thum %>">
                  <i class="glyphicon glyphicon-play-circle"></i>
                </figure>
                <p class="title"><%= movie.title %></p>
                <p class="name"><%= movie.player.name %></p>
              <% end %>
            </li>
          <% end %>
        </ul><!-- /.multiple-item -->
      </div><!-- /.movie-list -->

      <div class="more-btn">
        <a href="/movie"><i class="glyphicon glyphicon-chevron-right"></i><span>もっと見る</span></a>
      </div><!-- /.more-btn -->
    </div><!-- /.movie-box -->

    <div class="news-box recent-news-box">
      <p class="head-title">新着記事<span class="en-title new-article-title">RECENT NEWS</span></p><!-- /.head-title -->

      <div class="article-list pc-only">
        <ul>
          <% @articles.each do |article| %>
            <li>
              <%= link_to("/article/#{article.id}") do %>
                <% if article.image_link? %>
                  <%= image_tag("#{article.image_link}", class:"thum") %>
                <% else %>
                  <%= image_tag("/images/common/default_article_thum.jpg") %>
                <% end %>
                <div class="detail">
                  <span class="title"><%= article.title %></span>
                  <span class="media"><%= article.media %></span>
                  <span class="name"><%= article.player.name %></span>
                </div><!-- /.detail -->
              <% end %>
            </li>
          <% end %>
        </ul>
      </div><!-- /.article-list -->

      <div class="article-list sp-only">
        <ul class="multiple-item">
          <% @articles.each do |article| %>
            <li>
              <%= link_to("/article/#{article.id}") do %>
                <% if article.image_link? %>
                  <%= image_tag("#{article.image_link}", class:"thum") %>
                <% else %>
                  <%= image_tag("/images/common/default_article_thum.jpg") %>
                <% end %>
                <div class="detail">
                  <span class="title"><%= article.title %></span>
                  <span class="media"><%= article.media %></span>
                  <span class="name"><%= article.player.name %></span>
                </div><!-- /.detail -->
              <% end %>
            </li>
          <% end %>
        </ul>
      </div><!-- /.article-list -->

      <div class="more-btn">
        <a href="/article"><i class="glyphicon glyphicon-chevron-right"></i><span>もっと見る</span></a>
      </div><!-- /.more-btn -->
    </div><!-- /.recent-news-box -->
  </div><!-- /#main -->
</div><!-- /.row -->
