<div id="main" class="col-sm-9">
	<div class="recent-movie-box">
		<p class="title">新着動画<span><img src="" alt="RECENT MOVIE"></span></p><!-- /.title -->

		<div class="movie_player">
			
		</div><!-- /.movie_player -->

		<!-- new_movie_list -->
		<% @movies.first(2).each do |movie| %>
			<div class="movie_list">
				<ul>
					<li>
						<a href="#">
							<span class="thum"><%= movie.movie_url %></span>
							<span class="title"><%= movie.title %></span>
							<span class="name"></span>
						</a>
					</li>
				</ul>
			</div><!-- /.movie_list -->
		<% end %>
		<!-- /new_movie_list -->
	</div><!-- /.recent-movie-box -->

	<div class="recent-news-box">
		<p class="title">新着記事<span><img src="" alt="RECENT NEWS"></span></p><!-- /.title -->

		<!-- new_article_list -->
		<% @Articles.first(2).each do |article| %>
			<div class="article_list">
				<ul>
					<li>
						<a href="#">
							<span class="thum"><%= article.image_link %></span>
							<span class="title"><%= article.title %></span>
							<span class="media"><%= article.media %></span>
							<span class="published"><%= article.created_at %></span>
							<span class="name"></span>
						</a>
					</li>
				</ul>
			</div><!-- /.article_list -->
		<% end %>
		<!-- /new_article_list -->
	</div><!-- /.recent-news-box -->
</div><!-- /#main -->

<div id="side" class="col-sm-3">
	<div class="search-box">
		
	</div><!-- /.search-box -->

	<div class="pop-movie-box">
		
	</div><!-- /.pop-movie-box -->

	<div class="pop-news-box">
		
	</div><!-- /.pop-news-box -->
</div><!-- /#side -->
