<div id="gellery" class="row">
  <div id="side" class="col-sm-3 col-sm-push-9">
    <%= search_form_for @search, url:player_path do |f| %>
      <div class="search-box">
        <div class="search-form">
          <div class="form-group">
            <%= f.text_field :name_or_place_birth_or_alma_mater_or_league_school_or_team_or_hiragana_name_or_katakana_name_or_sport_name_cont, placeholder: 'キーワードを入力（選手検索）', class: 'form-control' %>
          </div><!-- /.form-group -->
        </div><!-- /.search-form -->

        <div class="submit-form">
          <div><%= f.submit '検索', class: 'search-btn' %><i class="glyphicon glyphicon-search"></i></div>
        </div><!-- /.submit-form -->
      </div><!-- /.search-box -->

      <div class="select-box">
        <div class="select-form">
          <%= f.collection_select :sport_id_eq_any, @sports, :id, :name, :prompt => "競技", :include_blank => 'すべて' %>
        </div><!-- /.select-form -->
      </div><!-- /.select-box -->

      <div class="submit-btn">
        <div><%= f.submit '検索', class: 'search-btn' %></div>
      </div>
    <% end %>

    <!--
    <div class="pop-movie-box">
      人気動画箇所
    </div>

    <div class="pop-news-box">
      人気記事箇所
    </div>
    -->
  </div><!-- /#side -->

  <div id="main" class="col-sm-9 col-sm-pull-3">
    <div class="player-detail-area">
      <div class="player-gellery-box">
        <p class="head-title">ギャラリー<span class="en-title player-gellery-title">GELLERY</span></p><!-- /.head-title -->

        <div class="gellery-list">
          <ul>
            <% @gelleries.each do |gellery| %>
              <li>
                <%= link_to("/player/#{@player.id}/gellery/#{gellery.id}") do %>
                  <% if gellery.image? %>
                    <figure class="thum">
                      <%= image_tag("#{gellery.image.url}") %>
                    </figure>
                  <% else %>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
          <%= paginate @gelleries %>
        </div><!-- /.gellery-list -->

        <div class="back-btn">
          <a href=<%= "/player/#{@player.id}" %>><i class="glyphicon glyphicon-chevron-left"></i><span>戻る</span></a>
        </div><!-- /.back-btn -->
      </div><!-- /.player-gellery-box -->
    </div><!-- /player-detail-area -->
  </div><!-- /#main -->
</div><!-- /.row -->
