<%= search_form_for @search, url:player_path do |f| %>
  <div class="row">
    <div id="main" class="col-sm-9">
      <div class="search-box sp-only">
        <div class="search-form">
          <div class="form-group">
            <%= f.text_field :name_or_place_birth_or_alma_mater_or_league_school_or_team_or_hiragana_name_or_katakana_name_cont, placeholder: 'キーワードを入力（選手検索）', class: 'form-control' %>
          </div><!-- /.form-group -->
        </div><!-- /.search-form -->

        <div class="select-form">
          <%= f.collection_select :sport_id_eq_any, @sports, :id, :name, :prompt => "選択してください", :include_blank => 'すべて' %>

          <select name="order">
            <option value="新着順">新着順</option>
            <option value="名前順">名前順</option>
          </select>
        </div><!-- /.select-form -->

        <div class="submit-form">
          <div><%= f.submit '検索', class: 'search-btn' %><i class="glyphicon glyphicon-search"></i></div>
        </div><!-- /.submit-form -->
      </div><!-- /.search-box -->

      <div class="player-detail-area">
        <div class="player-gellery-box">
          <p class="head-title">選手ギャラリー<%= image_tag("/images/common/head_title_article.png", alt:"NEWS", class:"player-gellery-title") %></p><!-- /.head-title -->

          <div class="geller-image">
            <%= image_tag("#{@gellery.image.url}") %>
          </div><!-- /.geller-image -->

          <div class="back-btn">
            <%= link_to("戻る", "/gellery/#{@player.id}") %><i class="glyphicon glyphicon-chevron-right"></i>
          </div><!-- /.back-btn -->
        </div><!-- /.player-gellery-box -->
      </div><!-- /player-detail-area -->
    </div><!-- /#main -->

    <div id="side" class="col-sm-3">
      <div class="search-box pc-only">
        <div class="search-form">
          <div class="form-group">
            <%= f.text_field :name_or_place_birth_or_alma_mater_or_league_school_or_team_or_hiragana_name_or_katakana_name_cont, placeholder: 'キーワードを入力（選手検索）', class: 'form-control' %>
          </div><!-- /.form-group -->
        </div><!-- /.search-form -->

        <div class="select-form">
          <%= f.collection_select :sport_id_eq_any, @sports, :id, :name, :prompt => "選択してください", :include_blank => 'すべて' %>

          <select name="order">
            <option value="新着順">新着順</option>
            <option value="名前順">名前順</option>
          </select>
        </div><!-- /.select-form -->

        <div class="submit-form">
          <div><%= f.submit '検索', class: 'search-btn' %><i class="glyphicon glyphicon-search"></i></div>
        </div><!-- /.submit-form -->
      </div><!-- /.search-box -->

      <div class="pop-movie-box">

      </div><!-- /.pop-movie-box -->

      <div class="pop-news-box">

      </div><!-- /.pop-news-box -->
    </div><!-- /#side -->
  </div><!-- /.row -->
<% end %>
