<%= search_form_for @search, url:player_path do |f| %>
  <div id="player" class="row">
    <div id="main" class="col-sm-9">
      <div class="search-box sp-only">
        <div class="search-form">
          <div class="form-group">
            <%= f.text_field :name_or_place_birth_or_alma_mater_or_league_school_or_team_or_hiragana_name_or_katakana_name_cont, placeholder: 'キーワードを入力（名前・出身検索）', class: 'form-control' %>
          </div><!-- /.form-group -->
        </div><!-- /.search-form -->

        <div class="select-form">
          <%= f.collection_select :sport_id_eq_any, @sports, :id, :name, :prompt => "選択してください", :include_blank => 'すべて' %>
        </div><!-- /.select-form -->

        <div class="submit-form">
          <div><%= f.submit '検索', class: 'search-btn' %><i class="glyphicon glyphicon-search"></i></div>
        </div><!-- /.submit-form -->
      </div><!-- /.search-box -->

      <div class="player-detail-area">
        <div class="main-visual-box">
          <p class="head-title"><%= @player.name %></p><!-- /.head-title -->

          <div class="main-visual">
            <% if @player.cover_image? %>
              <%= image_tag(@player.cover_image.url) %>
            <% else %>
              <%= image_tag("/images/common/default_player_cover.jpg") %>
            <% end %>

            <% if @player.profile_image? %>
              <%= image_tag(@player.profile_image.url) %>
            <% else %>
              <%= image_tag("/images/common/default_player_profile.jpg") %>
            <% end %>

            <span class="name"><%= @player.name %></span>
            <span class="sport"><%= @player.sport.name %></span>
            <span class="date"><%= @player.birth_date.year %>年<%= @player.birth_date.month %>月<%= @player.birth_date.day %>日</span>
            <span class="place_birth"><%= @player.place_birth %></span>
            <span class="blood_type"><%= @player.blood_type %></span>
          </div><!-- /.main-visual -->
        </div><!-- /.main-visual-box -->

        <div class="movie-box">
          <p class="head-title">選手動画<%= image_tag("/images/common/head_title_article.png", alt:"MOVIE", class:"movie-title") %></p><!-- /.head-title -->

          <div class="player-movie-block">
            <% if @movie %>
              <div class="movie-player">
                  <div class="html"><%= @movie.movie_html.html_safe %></div>
                  <div class="title"><%= @movie.title %></div>
                  <div class="name">
                    <%= link_to("/player/#{@movie.player_id}") do %>
                      <%= @movie.player.name %>
                    <% end %>
                  </div>
              </div><!-- /.movie-player -->

              <!-- new-movie-list -->
              <div class="movie-list">
                <ul>
                  <% @movies.each do |movie| %>
                    <li class="slide">
                      <%= link_to("/player/#{movie.id}", {method: "post", remote: true, id: "movie#{movie.id}"}) do %>
                        <img src="<%= movie.movie_thum %>"  class="thum">
                        <span class="title"><%= movie.title %></span>
                        <span class="name"><%= movie.player.name %></span>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div><!-- /.movie-list -->
              <!-- /new-movie-list -->

              <div class="more-btn">
                <%= link_to "もっと見る", movie_path(@search, :'q[player_id_eq]' => "#{@player.id}") %><i class="glyphicon glyphicon-chevron-right"></i>
              </div><!-- /.more-btn -->
            <% else %>
            <% end %>
          </div><!-- /.player-movie-block -->
        </div><!-- /.movie-box -->

        <div class="profile-box">
          <p class="head-title">プロフィール<%= image_tag("/images/common/head_title_article.png", alt:"MOVIE", class:"profile-title") %></p><!-- /.head-title -->

          <div class="profile-block">
            <span class="league_school"><%= @player.league_school %></span>
            <span class="team"><%= @player.team %></span>
            <span class="height"><%= @player.height %></span>
            <span class="weight"><%= @player.weight %></span>
            <span class="alma_mater"><%= @player.alma_mater %></span>
            <div class="website">
              <%= link_to("#{@player.website}", target: "_blank") do %>
                <%= @player.website %>
              <% end %>
            </div>

            <div class="profile-accordion">
              <div class="accordion-body">
                <p class="introduction"><%= @player.introduction %></p>
              </div><!-- /.acordion-body -->

              <div class="accordion-header">
                続きを読む
                <i class="fa fa-2x fa-angle-down header-icon"></i>
              </div><!-- /.accordion-header -->
            </div><!-- /.profile-accordion -->
          </div><!-- /.profile-block -->
        </div><!-- /.profile-box -->

        <div class="player-news-box">
          <p class="head-title">選手記事<%= image_tag("/images/common/head_title_article.png", alt:"NEWS", class:"player-article-title") %></p><!-- /.head-title -->

          <div class="article-list">
            <ul>
              <% @articles.each do |article| %>
                <li>
                  <%= link_to("/article/#{article.id}") do %>
                    <% if article.image_link? %>
                      <%= image_tag("#{article.image_link}", class:"thum") %>
                    <% else %>
                      <%= image_tag("/images/common/default_article_thum.jpg") %>
                    <% end %>
                    <span class="title"><%= article.title %></span>
                    <span class="media"><%= article.media %></span>
                    <span class="published"><%= article.created_at %></span>
                    <span class="name"><%= article.player.name %></span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div><!-- /.article-list -->

          <div class="more-btn">
            <%= link_to "もっと見る", article_path(@search, :'q[player_id_eq]' => "#{@player.id}") %><i class="glyphicon glyphicon-chevron-right"></i>
          </div><!-- /.more-btn -->
        </div><!-- /.player-news-box -->

        <div class="player-gellery-box">
          <p class="head-title">選手ギャラリー<%= image_tag("/images/common/head_title_article.png", alt:"NEWS", class:"player-gellery-title") %></p><!-- /.head-title -->

          <div class="gellery-list">
            <ul>
              <% @gelleries.each do |gellery| %>
                <li>
                  <%= link_to("/player/#{@player.id}/gellery/#{gellery.id}") do %>
                    <%= image_tag("#{gellery.image.url}") %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div><!-- /.gellery-list -->

          <div class="more-btn">
            <%= link_to("もっと見る", "/player/#{@player.id}/gellery") %><i class="glyphicon glyphicon-chevron-right"></i>
          </div><!-- /.more-btn -->
        </div><!-- /.player-gellery-box -->

        <div class="player-friend-box">
          <p class="head-title">交友関係・同出身地・同出身校<%= image_tag("/images/common/head_title_article.png", alt:"FRIENDS", class:"player-friend-title") %></p><!-- /.head-title -->

          <% if @friends %>
            <div class="friend-list">
              <ul>
                <% @friends.each do |friend| %>
                    <li>
                      <%= link_to("/player/#{friend.id}") do %>
                        <%= image_tag("#{friend.profile_image.url}") %>
                      <% end %>
                    </li>
                <% end %>
              </ul>
            </div><!-- /.friend-list -->

            <div class="more-btn">
              <%= link_to("もっと見る", "/player/#{@player.id}/frined") %><i class="glyphicon glyphicon-chevron-right"></i>
            </div><!-- /.more-btn -->
          <% else %>
          <% end %>
        </div><!-- /.player-friend-box -->

        <div class="player-event-box">
          <p class="head-title">イベント<%= image_tag("/images/common/head_title_article.png", alt:"EVENT", class:"player-event-title") %></p><!-- /.head-title -->

          <div class="event-block">
            <div class="next-game-block">
              <% if @player.url_next %>
                <%= link_to("#{@player.url_next}", target: "_blank") do %>
                  <span class="opponent_next"><%= @player.opponent_next %></span>
                  <div class="time-zone">
                    <span class="time_next"><%= @player.time_next.year %></span>
                    <span class="time_next"><%= @player.time_next.month %></span>
                    <span class="time_next"><%= @player.time_next.day %></span>
                    <span class="time_next"><%= @player.time_next.hour %></span>
                    <span class="time_next"><%= @player.time_next.min %></span>
                  </div><!-- /.time-zone -->
                  <span class="place_next"><%= @player.place_next %></span>
                <% end %>
              <% else %>
                <span>VS</span>
                <span>日時</span>
                <span>場所</span>
              <% end %>
            </div><!-- /.next-game-block -->

            <div class="next-game-block">
              <% if @player.url_result %>
                <%= link_to("#{@player.url_result}", target: "_blank") do %>
                  <span class="opponent_result"><%= @player.opponent_result %></span>
                  <span class="result_result"><%= @player.result_result %></span>
                  <span class="self_point_result"><%= @player.self_point_result %></span>
                  <span class="enemy_point_result"><%= @player.enemy_point_result %></span>
                <% end %>
              <% else %>
                <span>VS</span>
                <span>結果</span>
                <span>得点</span>
              <% end %>
            </div><!-- /.next-game-block -->
          </div><!-- /.event-block -->
        </div><!-- /.player-event-box -->

      </div><!-- /player-detail-area -->


    </div><!-- /#main -->

    <div id="side" class="col-sm-3">
      <div class="search-box pc-only">
        <div class="search-form">
          <div class="form-group">
            <%= f.text_field :name_or_place_birth_or_alma_mater_or_league_school_or_team_or_hiragana_name_or_katakana_name_cont, placeholder: 'キーワードを入力（名前・出身検索）', class: 'form-control' %>
          </div><!-- /.form-group -->
        </div><!-- /.search-form -->

        <div class="select-form">
          <%= f.collection_select :sport_id_eq_any, @sports, :id, :name, :prompt => "選択してください", :include_blank => 'すべて' %>
        </div><!-- /.select-form -->

        <div class="submit-form">
          <div><%= f.submit '検索', class: 'search-btn' %><i class="glyphicon glyphicon-search"></i></div>
        </div><!-- /.submit-form -->
      </div><!-- /.search-box -->

      <div class="pop-movie-box">

      </div><!-- /.pop-movie-box -->

      <div class="pop-news-box">

      </div><!-- /.pop-news-box -->
    </div><!-- /#side -->
  </div><!-- /.row -->
<% end %>
