<form>
  <div class="row">
    <div id="main" class="col-sm-9">
      <div class="search-box sp-only">
        <div class="search-form">
          <input type="text" name="article" placeholder="キーワードを入力（記事検索）"><input type="submit" val="">
          <i class="glyphicon glyphicon-search"></i>
        </div><!-- /.search-form -->

        <div class="select-form">
          <select name="sport">
            <option value="すべて">すべて</option>
            <option value="バスケットボール">バスケットボール</option>
            <option value="バレーボール">バレーボール</option>
            <option value="テニス">テニス</option>
            <option value="ラグビー">ラグビー</option>
            <option value="サッカー">サッカー</option>
            <option value="野球">野球</option>
            <option value="ゴルフ">ゴルフ</option>
            <option value="格闘技">格闘技</option>
            <option value="水泳">水泳</option>
            <option value="ハンドボール">ハンドボール</option>
            <option value="相撲">相撲</option>
            <option value="柔道">柔道</option>
            <option value="陸上">陸上</option>
            <option value="卓球">卓球</option>
            <option value="バドミントン">バドミントン</option>
            <option value="武術">武術</option>
            <option value="レスリング">レスリング</option>
            <option value="空手">空手</option>
            <option value="剣道">剣道</option>
            <option value="自転車競技">自転車競技</option>
            <option value="モータースポーツ">モータースポーツ</option>
            <option value="ウインタースポーツ">ウインタースポーツ</option>
            <option value="ビーチスポーツ">ビーチスポーツ</option>
            <option value="マリンスポーツ">マリンスポーツ</option>
            <option value="ダンス">ダンス</option>
            <option value="その他">その他</option>
          </select>

          <!-- after popular system
          <select name="order">
            <option value="新着順">新着順</option>
            <option value="人気順">人気順</option>
          </select>
          -->
        </div><!-- /.select-form -->
      </div><!-- /.search-box -->

      <div class="recent-news-box">
        <p class="head-title">新着記事<%= image_tag("/images/common/head_title_article.png", alt:"RECENT NEWS", class:"new-article-title") %></p><!-- /.head-title -->

        <div class="article-list">
          <ul>
            <% @articles.each do |article| %>
              <li>
                <%= link_to("/article/#{article.id}") do %>
                  <% if article.image_link? %>
                    <%= image_tag("#{article.image_link}", class:"thum") %>
                  <% else %>
                    <%= image_tag("/images/common/default_article_thum.jpg") %>
                  <% end %>
                  <span class="title"><%= article.title %></span>
                  <span class="media"><%= article.media %></span>
                  <span class="published"><%= article.created_at %></span>
                  <span class="name"><%= article.player.name %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
          <%= paginate @articles %>
        </div><!-- /.article-list -->
      </div><!-- /.recent-news-box -->
    </div><!-- /#main -->

    <div id="side" class="col-sm-3">
      <div class="search-box pc-only">
        <div class="search-form">
          <input type="text" name="article" placeholder="キーワードを入力（記事検索）"><input type="submit" val="">
          <i class="glyphicon glyphicon-search"></i>
        </div><!-- /.search-form -->

        <div class="select-form">
          <select name="sport">
            <option value="すべて">すべて</option>
            <option value="バスケットボール">バスケットボール</option>
            <option value="バレーボール">バレーボール</option>
            <option value="テニス">テニス</option>
            <option value="ラグビー">ラグビー</option>
            <option value="サッカー">サッカー</option>
            <option value="野球">野球</option>
            <option value="ゴルフ">ゴルフ</option>
            <option value="格闘技">格闘技</option>
            <option value="水泳">水泳</option>
            <option value="ハンドボール">ハンドボール</option>
            <option value="相撲">相撲</option>
            <option value="柔道">柔道</option>
            <option value="陸上">陸上</option>
            <option value="卓球">卓球</option>
            <option value="バドミントン">バドミントン</option>
            <option value="武術">武術</option>
            <option value="レスリング">レスリング</option>
            <option value="空手">空手</option>
            <option value="剣道">剣道</option>
            <option value="自転車競技">自転車競技</option>
            <option value="モータースポーツ">モータースポーツ</option>
            <option value="ウインタースポーツ">ウインタースポーツ</option>
            <option value="ビーチスポーツ">ビーチスポーツ</option>
            <option value="マリンスポーツ">マリンスポーツ</option>
            <option value="ダンス">ダンス</option>
            <option value="その他">その他</option>
          </select>

          <!-- after popular system
          <select name="order">
            <option value="新着順">新着順</option>
            <option value="人気順">人気順</option>
          </select>
          -->
        </div><!-- /.select-form -->
      </div><!-- /.search-box -->

      <div class="pop-movie-box">

      </div><!-- /.pop-movie-box -->

      <div class="pop-news-box">

      </div><!-- /.pop-news-box -->
    </div><!-- /#side -->
  </div><!-- /.row -->
</form>
