<% provide(:title, "#{@article.title} | #{@article.player.name}") %>
<% provide(:description, "#{@article.player.name}の記事詳細ページです。") %>
<% provide(:og_url, "article/#{@article.id}") %>

<div id="article" class="row">
  <div id="search-nav" class="collapse navbar-collapse sp-only">
    <%= search_form_for @search, url:player_path do |f| %>
      <div class="search-block">
        <div class="search-box">
          <div class="search-form">
            <div class="form-group">
              <%= f.text_field :title_or_player_name_or_player_team_or_player_hiragana_name_or_player_katakana_name_or_sport_name_cont, placeholder: 'キーワードを入力（記事検索）', class: 'form-control' %>
            </div><!-- /.form-group -->
          </div><!-- /.search-form -->

          <div class="submit-form">
            <div><%= f.submit '検索', class: 'search-btn' %><i class="glyphicon glyphicon-search"></i></div>
          </div><!-- /.submit-form -->
        </div><!-- /.search-box -->

        <div class="select-box">
          <div class="select-form">
            <%= f.collection_select :sport_id_eq_any, @sports, :id, :name, :prompt => "競技", :include_blank => 'すべて' %>
          </div><!-- /.select-form -->
        </div><!-- /.select-box -->

        <div class="submit-btn">
          <div><%= f.submit '検索', class: 'search-btn' %></div>
        </div>
      </div><!-- /.search-block -->
    <% end %>
  </div><!-- /.search-nav -->

  <div id="side" class="col-sm-3 col-sm-push-9 pc-only">
    <%= search_form_for @search, url:article_path do |f| %>
      <div class="search-box">
        <div class="search-form">
          <div class="form-group">
            <%= f.text_field :title_or_player_name_or_player_team_or_player_hiragana_name_or_player_katakana_name_or_sport_name_cont, placeholder: 'キーワードを入力（記事検索）', class: 'form-control' %>
          </div><!-- /.form-group -->
        </div><!-- /.search-form -->

        <div class="submit-form">
          <div><%= f.submit '検索', class: 'search-btn' %><i class="glyphicon glyphicon-search"></i></div>
        </div><!-- /.submit-form -->
      </div><!-- /.search-box -->

      <div class="select-box">
        <div class="select-form">
          <%= f.collection_select :sport_id_eq_any, @sports, :id, :name, :prompt => "競技", :include_blank => 'すべて' %>
        </div><!-- /.select-form -->
      </div><!-- /.select-box -->

      <div class="submit-btn">
        <div><%= f.submit '検索', class: 'search-btn' %></div>
      </div>
    <% end %>

    <!--
    <div class="pop-movie-box">
      人気動画箇所
    </div>

    <div class="pop-news-box">
      人気記事箇所
    </div>
    -->
  </div><!-- /#side -->

  <div id="main" class="col-sm-9 col-sm-pull-3">
    <section class="detail-news-box">
      <h1 class="head-title">アスリート記事<span class="en-title details-news-title">NEWS</span></h1><!-- /.head-title -->

      <div class="detail-block">
        <div class="article-bg">
          <% if @article.image_link? %>
            <%= image_tag("#{@article.image_link}", class:"thum") %>
          <% else %>
            <%= image_tag("/images/common/default_article_thum.jpg") %>
          <% end %>
        </div><!-- /.article-bg -->

        <div class="article-detail">
          <p class="title"><%= @article.title %></p>
          <p class="media"><%= @article.media %></p>
          <p class="name">
            <%= link_to("/player/#{@article.player_id}") do %>
              <%= @article.player.name %>
            <% end %>
          </p>
        </div><!-- /.article-detail -->
      </div><!-- /.detail-block -->

      <div class="more-btn">
        <a href=<%= "#{@article.original_link}" %> target="_blank"><i class="glyphicon glyphicon glyphicon-menu-right"></i><span>続きを見る</span></a>
      </div><!-- /.more-btn -->
    </section><!-- /.detail-news-box -->

    <section class="news-box recent-news-box">
      <h1 class="head-title">新着記事<span class="en-title new-article-title">RECENT NEWS</span></h1><!-- /.head-title -->

      <div class="article-list">
        <ul>
          <% @articles.each do |article| %>
            <li>
              <%= link_to("/article/#{article.id}") do %>
                <% if article.image_link? %>
                  <%= image_tag("#{article.image_link}", class:"thum") %>
                <% else %>
                  <%= image_tag("/images/common/default_article_thum.jpg") %>
                <% end %>
                <span class="detail">
                  <span class="title"><%= article.title %></span>
                  <span class="media"><%= article.media %></span>
                  <span class="name"><%= article.player.name %></span>
                </span><!-- /.detail -->
              <% end %>
            </li>
          <% end %>
        </ul>
      </div><!-- /.article-list -->

      <div class="more-btn">
        <a href="/article"><i class="glyphicon glyphicon glyphicon-menu-right"></i><span>もっと見る</span></a>
      </div><!-- /.more-btn -->
    </section><!-- /.recent-news-box -->
  </div><!-- /#main -->
</div><!-- /.row -->
