<div id="sport" class="row">
  <div id="search-nav" class="collapse navbar-collapse sp-only">
    <%= search_form_for @search, url:player_path do |f| %>
      <div class="search-block">
        <div class="search-box">
          <div class="search-form">
            <div class="form-group">
              <%= f.text_field :name_or_place_birth_or_alma_mater_or_league_school_or_team_or_hiragana_name_or_katakana_name_or_sport_name_cont, placeholder: 'キーワードを入力（選手検索）', class: 'form-control' %>
            </div><!-- /.form-group -->
          </div><!-- /.search-form -->

          <div class="submit-form">
            <div><%= f.submit '検索', class: 'search-btn' %><i class="glyphicon glyphicon-search"></i></div>
          </div><!-- /.submit-form -->
        </div><!-- /.search-box -->

        <div class="select-box">
          <div class="select-form">
            <%= f.collection_select :sport_id_eq_any, @sports, :id, :name, :prompt => "競技", :include_blank => 'すべて' %>
          </div><!-- /.select-form -->
        </div><!-- /.select-box -->

        <div class="submit-btn">
          <div><%= f.submit '検索', class: 'search-btn' %></div>
        </div>
      </div><!-- /.search-block -->
    <% end %>
  </div><!-- /.search-nav -->

  <div id="side" class="col-sm-3 col-sm-push-9 pc-only">
    <%= search_form_for @search, url:player_path do |f| %>
      <div class="search-box">
        <div class="search-form">
          <div class="form-group">
            <%= f.text_field :name_or_place_birth_or_alma_mater_or_league_school_or_team_or_hiragana_name_or_katakana_name_or_sport_name_cont, placeholder: 'キーワードを入力（選手検索）', class: 'form-control' %>
          </div><!-- /.form-group -->
        </div><!-- /.search-form -->

        <div class="submit-form">
          <div><%= f.submit '検索', class: 'search-btn' %><i class="glyphicon glyphicon-search"></i></div>
        </div><!-- /.submit-form -->
      </div><!-- /.search-box -->

      <div class="select-box">
        <div class="select-form">
          <%= f.collection_select :sport_id_eq_any, @sports, :id, :name, :prompt => "競技", :include_blank => 'すべて' %>
        </div><!-- /.select-form -->
      </div><!-- /.select-box -->

      <div class="submit-btn">
        <div><%= f.submit '検索', class: 'search-btn' %></div>
      </div>
    <% end %>

    <!--
    <div class="pop-movie-box">
      人気動画箇所
    </div>

    <div class="pop-news-box">
      人気記事箇所
    </div>
    -->
  </div><!-- /#side -->

  <div id="main" class="col-sm-9 col-sm-pull-3">
    <div class="sport-box">
      <p class="head-title">競技一覧<span class="en-title sports-list-title">SPORTS</span></p><!-- /.head-title -->

      <div class="sport-list">
        <ul>
          <% @sports.each do |sport| %>
            <li>
              <%= link_to player_path(@search, :'q[sport_id_eq]' => "#{sport.id}") do %>
                <% if sport.image? %>
                  <figure class="thum">
                    <%= image_tag(sport.image.url) %>
                  </figure>
                <% else %>
                  <figure class="thum">
                    <%= image_tag("/images/common/default_sport_thum.jpg") %>
                  </figure>
                <% end %>

                <p class="name"><%= sport.name %></p>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div><!-- /.sports-list -->
    </div><!-- /.sport-box -->
  </div><!-- /#main -->
</div><!-- /.row -->
