<div id="movie" class="row">
  <div id="side" class="col-sm-3 col-sm-push-9">
    <%= search_form_for @search, url:movie_path do |f| %>
      <div class="search-box">
        <div class="search-form">
          <div class="form-group">
            <%= f.text_field :title_or_player_name_or_player_team_or_player_hiragana_name_or_player_katakana_name_or_sport_name_cont, placeholder: 'キーワードを入力（動画検索）', class: 'form-control' %>
          </div><!-- /.form-group -->
        </div><!-- /.search-form -->

        <div class="submit-form">
          <div><%= f.submit '検索', class: 'search-btn' %><i class="glyphicon glyphicon-search"></i></div>
        </div><!-- /.submit-form -->
      </div><!-- /.search-box -->

      <div class="select-box">
        <div class="select-form">
          <%= f.collection_select :sport_id_eq_any, @sports, :id, :name, :prompt => "競技", :include_blank => 'すべて' %>
        </div><!-- /.select-form -->
      </div><!-- /.select-box -->

      <div class="submit-btn">
        <div><%= f.submit '検索', class: 'search-btn' %></div>
      </div>
    <% end %>

    <!--
    <div class="pop-movie-box">
      人気動画箇所
    </div>

    <div class="pop-news-box">
      人気記事箇所
    </div>
    -->
  </div><!-- /#side -->

  <div id="main" class="col-sm-9 col-sm-pull-3">
    <div class="movie-box">
      <p class="head-title">動画一覧<span class="en-title movie-list-title">MOVIE</span></p><!-- /.head-title -->

      <% if @movie %>
        <div class="movie-player">
          <div class="html"><%= @movie.movie_html.html_safe %></div>
          <div class="detail">
            <div class="title"><%= @movie.title %></div>
            <div class="name">
              <%= link_to("/player/#{@movie.player_id}") do %>
                <%= @movie.player.name %>
              <% end %>
            </div><!-- /.name -->
          </div><!-- /.detail -->
        </div><!-- /.movie-player -->

        <div class="movie-list pc-only">
          <ul>
            <% @result.each do |movie| %>
              <li class="slide">
                <%= link_to("/movie/#{movie.id}", {method: "post", remote: true, id: "movie#{movie.id}"}) do %>
                  <figure class="thum">
                    <img src="<%= movie.movie_thum %>">
                    <i class="glyphicon glyphicon-play-circle"></i>
                  </figure>
                  <p class="title"><%= movie.title %></p>
                  <p class="name"><%= movie.player.name %></p>
                <% end %>
              </li>
            <% end %>
          </ul>
          <%= paginate @result %>
        </div><!-- /.movie-list -->

        <div class="movie-list sp-only">
          <ul class="multiple-item">
            <% @result.each do |movie| %>
              <li class="slide">
                <%= link_to("/movie/#{movie.id}", {method: "post", remote: true, id: "movie#{movie.id}"}) do %>
                  <figure class="thum">
                    <img src="<%= movie.movie_thum %>"  class="thum">
                    <i class="glyphicon glyphicon-play-circle"></i>
                  </figure>
                  <p class="title"><%= movie.title %></p>
                  <p class="name"><%= movie.player.name %></p>
                <% end %>
              </li>
            <% end %>
          </ul>
          <%= paginate @result %>
        </div><!-- /.movie-list -->
      <% else %>
        <p>検索結果が見つかりませんでした</p>
      <% end %>
    </div><!-- /.movie-box -->
  </div><!-- /#main -->

</div><!-- /.row -->
